In [32]:
import numpy as np 
import pandas as pd

In [13]:
data = pd.read_csv("data/mercedesbenz.csv",usecols=['X1','X2','X3','X4','X5','X6'])
data.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [17]:
for col in data.columns:
    print(col," : ",len(data[col].unique()),"Labels/Categories")
# data.X1.unique()

X1  :  27 Labels/Categories
X2  :  44 Labels/Categories
X3  :  7 Labels/Categories
X4  :  4 Labels/Categories
X5  :  29 Labels/Categories
X6  :  12 Labels/Categories

In [24]:
def top_x(col,nol):
    top_x_labels = data[col].value_counts().head(nol).index
    return top_x_labels.tolist()
top_x('X2',10)

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [29]:
def one_hot_top_x(df,nol):
    for var in data.columns:
        top_x_labels = top_x(var,nol)
        for label in top_x_labels:
            df[var+"_"+label] = np.where(data[var] == label,1,0)

In [30]:
data = pd.read_csv("data/mercedesbenz.csv",usecols=['X1','X2','X3','X4','X5','X6'])
one_hot_top_x(data,10)
data.head(10)

,X1,X2,X3,X4,X5,X6,X1_aa,X1_s,X1_b,X1_l,...,X6_g,X6_j,X6_d,X6_i,X6_l,X6_a,X6_h,X6_k,X6_c,X6_b
0,v,at,a,d,u,j,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,b,e,c,d,g,h,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
6,r,e,f,d,f,h,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7,l,as,f,d,f,j,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
8,s,as,e,d,f,i,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
9,b,aq,c,d,f,a,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0

In [31]:
data.drop(columns=['X1','X2','X3','X4','X5','X6'])

,X1_aa,X1_s,X1_b,X1_l,X1_v,X1_r,X1_i,X1_a,X1_c,X1_o,...,X6_g,X6_j,X6_d,X6_i,X6_l,X6_a,X6_h,X6_k,X6_c,X6_b
0,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4205,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4206,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4207,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4208,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Data columns (total 57 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      4209 non-null   object
 1   X2      4209 non-null   object
 2   X3      4209 non-null   object
 3   X4      4209 non-null   object
 4   X5      4209 non-null   object
 5   X6      4209 non-null   object
 6   X1_aa   4209 non-null   int32
 7   X1_s    4209 non-null   int32
 8   X1_b    4209 non-null   int32
 9   X1_l    4209 non-null   int32
 10  X1_v    4209 non-null   int32
 11  X1_r    4209 non-null   int32
 12  X1_i    4209 non-null   int32
 13  X1_a    4209 non-null   int32
 14  X1_c    4209 non-null   int32
 15  X1_o    4209 non-null   int32
 16  X2_as   4209 non-null   int32
 17  X2_ae   4209 non-null   int32
 18  X2_ai   4209 non-null   int32
 19  X2_m    4209 non-null   int32
 20  X2_ak   4209 non-null   int32
 21  X2_r    4209 non-null   int32
 22  X2_n    4209 non-null   int32
 23  X2_s    4209 non-null   int32
 24  X2_f    4209 non-null   int32
 25  X2_e    4209 non-null   int32
 26  X3_c    4209 non-null   int32
 27  X3_f    4209 non-null   int32
 28  X3_a    4209 non-null   int32
 29  X3_d    4209 non-null   int32
 30  X3_g    4209 non-null   int32
 31  X3_e    4209 non-null   int32
 32  X3_b    4209 non-null   int32
 33  X4_d    4209 non-null   int32
 34  X4_a    4209 non-null   int32
 35  X4_c    4209 non-null   int32
 36  X4_b    4209 non-null   int32
 37  X5_w    4209 non-null   int32
 38  X5_v    4209 non-null   int32
 39  X5_q    4209 non-null   int32
 40  X5_r    4209 non-null   int32
 41  X5_s    4209 non-null   int32
 42  X5_d    4209 non-null   int32
 43  X5_n    4209 non-null   int32
 44  X5_p    4209 non-null   int32
 45  X5_m    4209 non-null   int32
 46  X5_i    4209 non-null   int32
 47  X6_g    4209 non-null   int32
 48  X6_j    4209 non-null   int32
 49  X6_d    4209 non-null   int32
 50  X6_i    4209 non-null   int32
 51  X6_l    4209 non-null   int32
 52  X6_a    4209 non-null   int32
 53  X6_h    4209 non-null   int32
 54  X6_k    4209 non-null   int32
 55  X6_c    4209 non-null   int32
 56  X6_b    4209 non-null   int32
dtypes: int32(51), object(6)
memory usage: 1.0+ MB